<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/firststyle.css">
</head>
<body>
    <div th:replace="/includes/navbar :: navbar"></div>
    <div>
        <h1 align="center"> CPU info: </h1>
        <p align="center" style="color: brown"> A central processing unit (CPU)
        det er, hvad udføre og laver computeren.
    <br>CPU er en forkortelse for “Central Processing Unit”,
        men på dansk kaldes det ofte bare en processor.
    <br>Det er den, der udfører alle beregninger i en computer.
        Det er selve “motoren”, som styrer en stor del af dataen rundt i systemet </p>
    </div>
</body>
</html>
