<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/firststyle.css">
</head>
<body>
    <div th:replace="/includes/navbar :: navbar"></div>
    <div>
        <h1 align="center"> Central Processing Unit </h1>

    </div>
    <div class="section-lightgrey ">
        <h2 style="text-align: center; margin: 0"></h2>
        <div class="display-flex">
            <p style="color: brown"> A central processing unit (CPU)
                A central processing unit (CPU) is an important part of every computer.
                <br>The CPU sends signals to control the other parts of the computer,
                almost like how a brain controls a body.
                <br>The CPU is an electronic machine that works on a list of computer things to do, called instructions.
                <br> Most modern CPUs are microprocessors, where the CPU is contained on a single metal-oxide-semiconductor (MOS) integrated circuit (IC) chip.

                <br> An IC that contains a CPU may also contain memory, peripheral interfaces, and other components of a computer;
                <br> - such integrated devices are variously called microcontrollers or systems on a chip (SoC).
                <br>Some computers employ a multi-core processor, which is a single chip or "socket" containing two or more CPUs called "cores".
            </p>
            <img class="image-size p-2 m-1" src="/images/cpu.jpg" alt="">
        </div>
    </div>
</body>
</html>
