<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/firststyle.css">
</head>
<body>
    <div th:replace="/includes/navbar :: navbar"></div>
    <div>
        <div class="section-lightgrey">
            <h1 style="text-align: center; margin:0 ">Graphics Processing Unit</h1>
            <div class="paragraph-image-row">
                <p>A graphics processing unit (GPU) is a specialized, electronic circuit designed to rapidly manipulate and alter memory to accelerate the creation of images in a frame buffer intended for output to a display device. GPUs are used in embedded systems, mobile phones, personal computers, workstations, and game consoles. 
                <br/>
                <br/>
                Modern GPUs are very efficient at manipulating computer graphics and image processing. Their highly parallel structure makes them more efficient than general-purpose central processing units (CPUs) for algorithms that process large blocks of data in parallel. 
                <br/>
                <br/>
                In a personal computer, a GPU can be present on a video card or embedded on the motherboard. In certain CPUs, they are embedded on the CPU die.</p>
                <img src="/images/gpu.jpg" alt="GPU"/>
            </div>
        </div>
        <div class="section-darkgrey ">
            <h2 style="text-align: center; margin: 0">Largest GPU companies</h2>
            <div class="paragraph-image-row">
                <img src="/images/nvidia.jpg" alt="">
                <img src="/images/amd.jpg" alt="">
            </div>
        </div>
    </div>
</body>
</html>
