<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/firststyle.css">
</head>
<body>
    <div th:replace="/includes/navbar :: navbar"></div>
    <div>
        <div class="section-lightgrey">
            <h1 style="text-align: center; margin:0 ">Hard Disk</h1>
            <div class="display-flex">
                <p class="p-2">
                
                A hard disk drive (HDD), hard disk, hard drive, or fixed disk[b] is an electro-mechanical data storage device that uses magnetic storage to store and retrieve digital data using one or more rigid rapidly rotating platters coated with magnetic material. 
                The platters are paired with magnetic heads, usually arranged on a moving actuator arm, which read and write data to the platter surfaces.[2] Data is accessed in a random-access manner, meaning that individual blocks of data can be stored and retrieved in any order. 
                HDDs are a type of non-volatile storage, retaining stored data even when powered off.
                </p>


                <img class="image-size p-2" src="/images/gpu.jpg" alt="GPU"/>
            </div>
        </div>
        <div class="section-lightgrey ">
            <h2 style="text-align: center; margin: 0">Largest GPU companies</h2>
            <div class="display-flex">
                <img class="image-size p-2" src="/images/nvidia.jpg" alt="">
                <img class="image-size p-2" src="/images/amd.jpg" alt="">
            </div>
        </div>
    </div>
</body>
</html>
