<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/firststyle.css">
</head>
<body>
    <div th:replace="/includes/navbar :: navbar"></div>
<h3> - Matias: </h3>
<pre> City: Nørrebro
    <p> <a href="https://www.kk.dk/"> Click here to know about København</a></p>
    Age: 23
    </pre>
<img src="https://www.kk.dk/sites/default/files/styles/flexslider_full/public/uploaded-images/visitcph-0110-800px.jpg?itok=TBh9Cw8j" width="500" height="400" />
</body>
</html>
