<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/firststyle.css">
</head>
<body>
    <div th:replace="/includes/navbar :: navbar"></div>
    <div>
        <div class="section-lightgrey">
            <h1>HDD</h1>
            <div class="display-center">
                <p class="card p-2 m-1 fg-2">
                    A hard disk drive (HDD), hard disk, hard drive, or fixed disk is an electro-mechanical data storage device that uses magnetic storage to store and retrieve digital data 
                    <br/> 
                    using one or more rigid rapidly rotating platters coated with magnetic material. 
                    <br/>
                    The platters are paired with magnetic heads, usually arranged on a moving actuator arm, which read and write data to the platter surfaces.
                    <br/>
                    Data is accessed in a random-access manner, meaning that individual blocks of data can be stored and retrieved in any order. 
                    <br/>
                    HDDs are a type of non-volatile storage, retaining stored data even when powered off.
                </p>
                <img class="card image-size m-1 fg-1" src="/images/hdd.jpg" alt="HDD"/>
            </div>
        </div>
        <div class="section-lightgrey" style="height: 51vh;">
            <h1 style="text-align: center; margin:0 ">SSD</h1>
            <div class="display-center">
                <img class="card image-size m-1 fg-1" src="images/ssd.jpg" alt="ssd"/>
                <p class="card p-2 m-1 fg-1">
                    A solid-state drive (SSD) is a solid-state storage device that uses integrated circuit assemblies to store data persistently,
                    <br/> 
                    typically using flash memory, and functioning as secondary storage in the hierarchy of computer storage. 
                    <br/>
                    It is also sometimes called a solid-state device or a solid-state disk, 
                    <br/>
                    even though SSDs lack the physical spinning disks and movable read–write heads used in hard drives ("HDD") or floppy disks.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
