<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/firststyle.css">
</head>
<body>
    <div th:replace="/includes/navbar :: navbar"></div>
<h3> - Daniel: </h3>
<pre> City: Sønderborg
    <p><a href="https://sonderborgkommune.dk">Click here to know about Sønderborg</a></p>
    Age: 22
    </pre>
<img src="https://www.byplanlab.dk/sites/default/files/w12Udflugt%2012%20-%20Offentligt%20private%20partnerskaber%20i%20S%C3%B8nderborg.jpg" height="400" width="500"/>
</body>
</html>
